/*
font-family: 'Poppins', sans-serif;
font-family: 'Tajawal', sans-serif;
*/
* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'AQBfont', sans-serif;
}

/* Homepage classes */
.box {
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0;
    z-index: -1;
}

.text-ar {
    direction: rtl !important;
    font-family: 'AQBfont', sans-serif !important;
}

.text-en {
    direction: ltr !important;
    font-family: 'Poppins', sans-serif !important;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.issue1 {
    background-color: #ffffff;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.journal_title_ar {
    font-family: 'AQBfont', sans-serif;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.journal_title_en {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 20px;
    text-indent: 20px;
}

/* This is for the top menu */
ul.Main_Menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul.Main_Menu li {
    background: transparent;
    border-bottom: solid 2px transparent;
    margin-right: 10px;
    padding: 5px 30px;
    transition: 0.3s;
}

ul.Main_Menu li:hover {
    background: rgba(255, 255, 255, 0.1);
    border-bottom: solid 2px #fff;
}

ul.Main_Menu li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* This is for the main categories menu */
#Categories_Menu {
    background: linear-gradient(to bottom, rgba(33, 33, 33), rgba(11, 11, 11));
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#Categories_Menu > .Cat-Item {
    width: auto;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    flex: auto;
    transition: 0.5s;
    border-radius: 0;
}

@media (max-width: 1000px) {
    #Categories_Menu > .Cat-Item {
        flex: 20%;
    }
}

@media (max-width: 800px) {
    #Categories_Menu > .Cat-Item {
        flex: 32%;
    }
}

@media (max-width: 600px) {
    #Categories_Menu > .Cat-Item {
        flex: 48%;
    }
}

@media (max-width: 300px) {
    #Categories_Menu > .Cat-Item {
        flex: 100%;
    }
}

#Categories_Menu > .White,
#Categories_Menu > .Orange,
#Categories_Menu > .Pink,
#Categories_Menu > .Yellow,
#Categories_Menu > .LightBlue,
#Categories_Menu > .DarkBlue,
#Categories_Menu > .Red,
#Categories_Menu > .Green,
#Categories_Menu > .Grey {
    background: transparent;
}

#Categories_Menu > .White:hover,
#Categories_Menu > .White:focus {
    background: #ccc;
}

#Categories_Menu > .Orange:hover,
#Categories_Menu > .Orange:focus {
    background: #eb9812;
}

#Categories_Menu > .Pink:hover,
#Categories_Menu > .Pink:focus {
    background: #e4406e;
}

#Categories_Menu > .Yellow:hover,
#Categories_Menu > .Yellow:focus {
    background: #e9cc20;
}

#Categories_Menu > .LightBlue:hover,
#Categories_Menu > .LightBlue:focus {
    background: #689fce;
}

#Categories_Menu > .DarkBlue:hover,
#Categories_Menu > .DarkBlue:focus {
    background: #515670;
}

#Categories_Menu > .Red:hover,
#Categories_Menu > .Red:focus {
    background: #c4393e;
}

#Categories_Menu > .Green:hover,
#Categories_Menu > .Green:focus {
    background: #4c812d;
}

#Categories_Menu > .Grey:hover,
#Categories_Menu > .Grey:focus {
    background: #7d7d7d;
}

/* This is for the articles in the masonry table */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-sizer,
.grid-item {
    width: 33.333%;
}

@media (max-width: 575px) {

    .grid-sizer,
    .grid-item {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .grid-sizer,
    .grid-item {
        width: 33.333%;
    }
}

/*@media (min-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 25%;
  }
}*/

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

.article-box {
    display: block;
    position: relative;
}

.masonry-item > .Orange::after,
.masonry-item > .Pink::after,
.masonry-item > .Yellow::after,
.masonry-item > .LightBlue::after,
.masonry-item > .DarkBlue::after,
.masonry-item > .Red::after,
.masonry-item > .Green::after,
.masonry-item > .Grey::after {
    content: "";
    display: block;
    position: absolute;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

.masonry-item > .Orange:hover::after,
.masonry-item > .Pink:hover::after,
.masonry-item > .Yellow:hover::after,
.masonry-item > .LightBlue:hover::after,
.masonry-item > .DarkBlue:hover::after,
.masonry-item > .Red:hover::after,
.masonry-item > .Green:hover::after,
.masonry-item > .Grey:hover::after {
    opacity: 1;
}

.masonry-item > .Orange::after {
    background: linear-gradient(to bottom, rgba(255, 180, 0, 0.3), rgba(255, 108, 0, 0.3));
}

.masonry-item > .Pink::after {
    background: linear-gradient(to bottom, rgba(255, 0, 198, 0.3), rgba(196, 33, 206, 0.3));
}

.masonry-item > .Yellow::after {
    background: linear-gradient(to bottom, rgba(245, 197, 69, 0.3), rgba(255, 216, 0, 0.3));
}

.article-icon {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    color: white;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    opacity: 0;
    transition: opacity 1s ease;
}

.article-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px 0px;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
    color: white;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    opacity: 0;
    transition: opacity 1s ease;
}

.article-title a {
    color: #fff;
    text-decoration: none;
}

.masonry-item > .Orange:hover .article-title,
.masonry-item > .Orange:hover .article-icon,
.masonry-item > .Pink:hover .article-title,
.masonry-item > .Pink:hover .article-icon,
.masonry-item > .Yellow:hover .article-title,
.masonry-item > .Yellow:hover .article-icon {
    opacity: 1;
}


/* For the search Window */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #982da5;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.overlay button:hover {
    background: #7f0f8c;
}

.Search_Issues_Options {
    width: 100%;
    height: auto;
    text-align: left;
    clear: both;
    color: white;
    padding-top: 10px;
    font-size: 20px;
}

.Search_Issues_Options > label {
    margin-right: 20px;
}

/* Article SINGLE page */
.Article_Featured_Image {
    float: left;
    width: 300px;
    border-radius: 5px;
    margin: 0px 20px 20px 0px;
}



/* Loader page with a photo */
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

#fader:before {
    content: 'fade'
}

@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}


/* Accessibility icon */
.Accessibility_Icon {
    position: fixed;
    top: 45%;
    right: 20px;
    display: grid;
    place-items: center center;
    z-index: 2000;
}

.Reader_Version {
    position: fixed;
    top: 55%;
    right: 20px;
    display: grid;
    place-items: center center;
    z-index: 1900;
}

.Issue_Name {
    position: fixed;
    top: 270px;
    left: -170px;
    z-index: 1900;
    transform: rotate(-90deg);
    font-size: 20px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@media (max-width: 800px) {

    .Accessibility_Icon,
    .Reader_Version,
    .Issue_Name
    {
        display: none;
    }
}

.c-share {
    position: relative;
    width: 50px;
    height: 50px;
}

.c-share__input {
    display: none;
}

.c-share__input:checked ~ .c-share__toggler .c-share__icon {
    transition: 0s;
    width: 0;
    height: 0;
    color: #639eff;
}

.c-share__input:checked ~ .c-share__toggler .c-share__icon::before {
    transform: rotate(-45deg);
}

.c-share__input:checked ~ .c-share__toggler .c-share__icon::after {
    transform: rotate(45deg);
}

.c-share__input:checked ~ .c-share_options {
    width: 11.0625em;
    height: 12.5em;
    border-radius: 0.3125em;
}

.c-share__input:checked ~ .c-share_options::before,
.c-share__input:checked ~ .c-share_options li {
    transition: 0.3s 0.15s;
    opacity: 1;
    transform: translateY(0);
}

.c-share__toggler,
.c-share_options {
    position: absolute;
    right: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: #f2f2f2;
}

.c-share__toggler {
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-share_options {
    list-style: none;
    margin: 0;
    padding: 1.0625em 1.25em;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.3);
}

.c-share_options::before {
    content: attr(data-title);
    display: block;
    margin-bottom: 1.25em;
    font-weight: 700;
}

.c-share_options li {
    font-size: 0.875em;
    color: #464646;
    cursor: pointer;
}

.c-share_options li:not(:last-child) {
    margin-bottom: 0.75em;
}

.c-share_options::before,
.c-share_options li {
    opacity: 0;
    transform: translateY(0.625em);
    transition: 0s;
}

/* Footer articles list style */
.footer-articles {
    list-style-type: none;
    padding-right: 0px;
}

.footer-articles li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    background: transparent;
    transition: all 0.5s ease;
}

.footer-articles li:hover {
    padding-right: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.footer-articles li a {
    color: white;
    text-decoration: none;
}


/* Canvas Sidebar to hover on after clicking on it */
.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
}

.bs-canvas-overlay.show {
    opacity: 0.85;
    z-index: 1100;
}

.bs-canvas {
    top: 0;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
}

.bs-canvas-right {
    right: 0;
}

.bs-canvas-anim {
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
}


/* Letter from the editor section */
#Letter_From_Editor {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;

}

#Letter_From_Editor h4 {
    color: #ebb012;
    width: 100%;
}

#Letter_From_Editor span {
    width: 100%;
    height: 5px;
    display: block;
    background: transparent url(../img/alt1.gif) repeat-x;
}

#Letter_From_Editor p {
    margin-bottom: 0px;
    font-size: 13px;
    line-height: 25px;
}

#Letter_From_Editor a {
    color: #ebb012;
    float: right;
}

#Letter_From_Editor img {
    display: block;
    float: right;
    margin-left: 15px;
}


/* Share section for the single article */
.sharing_section {}

.Share_Text {
    height: 55px;
    width:100%;
    overflow:hidden;
    transition: all 0.5s ease;
}

.Share_Text a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.Share_Buttons {
    height: 0px;
    padding-top:5px;
    width:100%;
    overflow:hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.sharing_section:hover .Share_Text {
    opacity: 0;
    height: 0px;
}
.sharing_section:hover .Share_Buttons {
    opacity: 1;
    height: 50px;
}
